force-app/main/default/flows/Contact_Enable_Customer_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RefreshPage</name>
        <label>RefreshPage</label>
        <locationX>176</locationX>
        <locationY>1922</locationY>
        <actionName>c:vlos_RefreshPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vlos_RefreshPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_CustomerUser_Already_Exist</name>
        <label>Check CustomerUser Already Exist</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CustomerUser_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CustomerUser_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomUserAlreadyExist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_localInfo_data_exists</name>
        <label>Check if localInfo data exists</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_CustomerUser_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LocalInfo_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLocaleInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.CIAMId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.TrustLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProcessManually</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.BrandName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GainConnect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.PreferredLanguage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.PrivacyConsent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CustomerUser_record</targetReference>
            </connector>
            <label>LocalInfo exists</label>
        </rules>
        <rules>
            <name>LocalInfo_Not_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getLocaleInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.CIAMId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.TrustLevel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ProcessManually</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.BrandName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GainConnect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.PreferredLanguage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.PrivacyConsent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact_details.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnableCustomerUserFailed</targetReference>
            </connector>
            <label>LocalInfo Not Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!cleanedName}, 8)</expression>
    </formulas>
    <formulas>
        <name>cleanedName</name>
        <dataType>String</dataType>
        <expression>{!get_Contact_details.LastName} +   SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT({!$Flow.CurrentDateTime}) , &quot;-&quot;, &quot;&quot;),&quot;:&quot;, &quot;&quot;), &quot; &quot; , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CommunityNickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!cleanedName}, 40)</expression>
    </formulas>
    <interviewLabel>Contact - Enable Customer User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Enable Customer User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User_Record</name>
        <label>Create User Record</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <assignRecordIdToReference>newUserId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Permission_Set_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIAMId__c</field>
            <value>
                <elementReference>get_Contact_details.CIAMId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>get_Contact_details.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName</field>
            <value>
                <elementReference>get_Contact_details.Business_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>get_Contact_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>get_Contact_details.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EducationConsent__c</field>
            <value>
                <elementReference>get_Contact_details.EducationConsent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>get_Contact_details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <elementReference>get_Contact_details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>get_Contact_details.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasEmailOptedOut__c</field>
            <value>
                <elementReference>get_Contact_details.HasOptedOutOfEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>getLocaleInfo.LanguageLocaleKey__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>get_Contact_details.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>getLocaleInfo.LocaleSidKey__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicalId__c</field>
            <value>
                <elementReference>get_Contact_details.NPIId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>get_Contact_details.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MigratedFromCDC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>get_Contact_details.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsent__c</field>
            <value>
                <elementReference>get_Contact_details.PrivacyConsent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>get_Contact_details.Profession__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>gainConnectprofileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>get_Contact_details.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>getLocaleInfo.TimeZoneSidKey__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>get_Contact_details.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>get_Contact_details.Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>HCP_User_Access</name>
        <label>HCP User Access</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>newUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>hcpPermissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Contact_details</name>
        <label>get Contact details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_gainConnectProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CustomerUser_record</name>
        <label>Get CustomerUser record</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CustomerUser_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_gainConnectProfile</name>
        <label>get gainConnectProfile</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLocaleInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GainConnect Internal</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>gainConnectprofileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Permission_Set_Id</name>
        <label>get Permission Set Id</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HCP_User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLocaleInfo.Permission_Set_Name__c</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>hcpPermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLocaleInfo</name>
        <label>getLocaleInfo</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_localInfo_data_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact_details.MailingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HCPUserMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>RefreshPage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TrustLevel__c</field>
            <value>
                <stringValue>FullyTrusted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isEmailVerified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CustomUserAlreadyExist</name>
        <label>CustomUserAlreadyExist</label>
        <locationX>132</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CustomerUserExistValidationMsg</name>
            <fieldText>&lt;p&gt;This Email has already been used to create an Internal User. Please get in touch with your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnableCustomerUserFailed</name>
        <label>EnableCustomerUserFailed</label>
        <locationX>132</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>getLocalInfoMissing</name>
            <fieldText>&lt;p&gt;In order to successfully create the User, we require the following information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CiamIdError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;- Make sure to fill the &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;CIAMId&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Contact_details.CIAMId__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TrustLevelError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;- Make sure to set the &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Trust Level&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; as Processed Manually.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Contact_details.TrustLevel__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>ProcessManually</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BrandNameError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;- Make sure to set the&lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt; Brand Name&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; as   GainConnect.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Contact_details.BrandName__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>GainConnect</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PreferredLanguageErro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;- Make sure the&lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt; Preferred Language &lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;matches the Country.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Contact_details.PreferredLanguage__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>en_US</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PrivacyConsentError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;- Make sure the &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Privacy Consent&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; is ticked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Contact_details.PrivacyConsent__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MailingCountryError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;- Make sure the &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Mailing Country&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; is selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Contact_details.MailingCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>572</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px; color: rgb(218, 10, 10);&quot;&gt;Error occurred while creating a user : {!$Flow.FaultMessage}&lt;/span&gt;&lt;span style=&quot;font-size: 13px; color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;The User was created successfully. You&apos;ll soon receive a welcome email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Contact_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentTimeMillis</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentUserProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gainConnectprofileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hcpPermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
